body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u2284 {
  position:absolute;
  left:800px;
  top:160px;
  width:350px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u2284_ann {
  position:absolute;
  left:1143px;
  top:156px;
  width:1px;
  height:1px;
}
#u2286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:31px;
}
#u2286 {
  position:absolute;
  left:802px;
  top:225px;
  width:350px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u2288 {
  position:absolute;
  left:800px;
  top:292px;
  width:300px;
  height:43px;
}
#u2288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2288_input {
  color:#666666;
}
#u2288_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:49px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2289 {
  position:absolute;
  left:800px;
  top:345px;
  width:450px;
  height:44px;
}
#u2289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2289_input {
  color:#666666;
}
#u2289_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:456px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2290 {
  position:absolute;
  left:1110px;
  top:294px;
  width:140px;
  height:40px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2292 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  overflow:hidden;
}
#u2292_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2292_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:1004px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:492px;
  width:498px;
  word-wrap:break-word;
}
#u2292_ann {
  position:absolute;
  left:495px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:74px;
}
#u2295 {
  position:absolute;
  left:800px;
  top:411px;
  width:450px;
  height:74px;
  font-size:20px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:24px;
  width:446px;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
}
#u2297 {
  position:absolute;
  left:823px;
  top:520px;
  width:277px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:48px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:-1px;
  width:277px;
  word-wrap:break-word;
}
#u2299 {
  position:absolute;
  left:800px;
  top:535px;
  width:23px;
  height:16px;
}
#u2300 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:61px;
}
#u2301 {
  position:absolute;
  left:800px;
  top:842px;
  width:450px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u2302 {
  position:absolute;
  left:0px;
  top:18px;
  width:448px;
  word-wrap:break-word;
}
#u2303 {
  position:fixed;
  left:28px;
  top:29px;
}
#u2303_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2303_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:64px;
}
#u2305 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u2306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2306 {
  position:absolute;
  left:1085px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2306_ann {
  position:absolute;
  left:1143px;
  top:25px;
  width:1px;
  height:1px;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2308 {
  position:absolute;
  left:1185px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2309 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:50px;
}
#u2310 {
  position:absolute;
  left:48px;
  top:271px;
  width:407px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:50px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:72px;
}
#u2312 {
  position:absolute;
  left:108px;
  top:718px;
  width:287px;
  height:72px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  line-height:36px;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u2314 {
  position:absolute;
  left:1183px;
  top:529px;
  width:67px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#00C1DE;
  text-align:right;
  line-height:28px;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
