body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:6090px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u88 {
  position:absolute;
  left:51px;
  top:140px;
  width:1200px;
  height:6090px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u89 {
  position:absolute;
  left:50px;
  top:20px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:948px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u90 {
  position:absolute;
  left:51px;
  top:150px;
  width:1200px;
  height:948px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u91 {
  position:absolute;
  left:60px;
  top:0px;
  width:1080px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u92 {
  position:absolute;
  left:52px;
  top:39px;
  width:200px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u93 {
  position:absolute;
  left:0px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:381px;
}
#u94 {
  position:absolute;
  left:103px;
  top:197px;
  width:1098px;
  height:381px;
}
#u95 {
  position:absolute;
  left:2px;
  top:182px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:762px;
}
#u96 {
  position:absolute;
  left:102px;
  top:610px;
  width:1098px;
  height:762px;
}
#u97 {
  position:absolute;
  left:2px;
  top:373px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:236px;
}
#u98 {
  position:absolute;
  left:102px;
  top:1399px;
  width:1098px;
  height:236px;
}
#u99 {
  position:absolute;
  left:2px;
  top:110px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:514px;
}
#u100 {
  position:absolute;
  left:102px;
  top:1664px;
  width:1098px;
  height:514px;
}
#u101 {
  position:absolute;
  left:2px;
  top:249px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
