body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1294px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4961 {
  position:absolute;
  left:-6px;
  top:-1px;
  width:1306px;
  height:54px;
  overflow:hidden;
}
#u4961_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(24, 24, 24, 1);
  background-image:none;
}
#u4961_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4962 {
  position:absolute;
  left:1000px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4962_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4962.mouseOver {
}
#u4963 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4964 {
  position:absolute;
  left:1080px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4964_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4964.mouseOver {
}
#u4965 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4966 {
  position:absolute;
  left:1170px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4966_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4966.mouseOver {
}
#u4967 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:44px;
}
#u4968 {
  position:absolute;
  left:50px;
  top:5px;
  width:86px;
  height:43px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:1008px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u4970 {
  position:absolute;
  left:50px;
  top:133px;
  width:1201px;
  height:1008px;
  line-height:36px;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4972 {
  position:absolute;
  left:50px;
  top:53px;
  width:1201px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4973 {
  position:absolute;
  left:0px;
  top:21px;
  width:1201px;
  word-wrap:break-word;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4974 {
  position:absolute;
  left:50px;
  top:402px;
  width:1201px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4975 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4976 {
  position:absolute;
  left:50px;
  top:653px;
  width:1201px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4978 {
  position:absolute;
  left:50px;
  top:868px;
  width:1201px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4980 {
  position:absolute;
  left:50px;
  top:1206px;
  width:1201px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4981 {
  position:absolute;
  left:0px;
  top:21px;
  width:1201px;
  word-wrap:break-word;
}
#u4980_ann {
  position:absolute;
  left:1244px;
  top:1202px;
  width:1px;
  height:1px;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4982 {
  position:absolute;
  left:50px;
  top:1168px;
  width:1201px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u4983 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
