body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u5246 {
  position:absolute;
  left:800px;
  top:160px;
  width:350px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u5246_ann {
  position:absolute;
  left:1143px;
  top:156px;
  width:1px;
  height:1px;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:31px;
}
#u5248 {
  position:absolute;
  left:802px;
  top:225px;
  width:350px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5249 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u5250 {
  position:absolute;
  left:800px;
  top:292px;
  width:300px;
  height:43px;
}
#u5250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5250_input {
  color:#666666;
}
#u5250_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:49px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5251 {
  position:absolute;
  left:800px;
  top:345px;
  width:450px;
  height:44px;
}
#u5251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5251_input {
  color:#666666;
}
#u5251_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:456px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5252 {
  position:absolute;
  left:1110px;
  top:294px;
  width:140px;
  height:40px;
}
#u5253 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  overflow:hidden;
}
#u5254_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5254_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:1004px;
}
#u5255 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:492px;
  width:498px;
  word-wrap:break-word;
}
#u5254_ann {
  position:absolute;
  left:495px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:74px;
}
#u5257 {
  position:absolute;
  left:800px;
  top:411px;
  width:450px;
  height:74px;
  font-size:20px;
}
#u5258 {
  position:absolute;
  left:2px;
  top:24px;
  width:446px;
  word-wrap:break-word;
}
#u5259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
}
#u5259 {
  position:absolute;
  left:823px;
  top:520px;
  width:277px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:48px;
}
#u5260 {
  position:absolute;
  left:0px;
  top:-1px;
  width:277px;
  word-wrap:break-word;
}
#u5261 {
  position:absolute;
  left:800px;
  top:535px;
  width:23px;
  height:16px;
}
#u5262 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5261_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:61px;
}
#u5263 {
  position:absolute;
  left:800px;
  top:842px;
  width:450px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u5264 {
  position:absolute;
  left:0px;
  top:18px;
  width:448px;
  word-wrap:break-word;
}
#u5265 {
  position:fixed;
  left:28px;
  top:29px;
}
#u5265_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5265_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:64px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5268 {
  position:absolute;
  left:1085px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5269 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5268_ann {
  position:absolute;
  left:1143px;
  top:25px;
  width:1px;
  height:1px;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5270 {
  position:absolute;
  left:1185px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5271 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:50px;
}
#u5272 {
  position:absolute;
  left:48px;
  top:271px;
  width:407px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:50px;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:72px;
}
#u5274 {
  position:absolute;
  left:108px;
  top:718px;
  width:287px;
  height:72px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  line-height:36px;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u5276 {
  position:absolute;
  left:1183px;
  top:529px;
  width:67px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#00C1DE;
  text-align:right;
  line-height:28px;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
