body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u5877 {
  position:absolute;
  left:800px;
  top:160px;
  width:350px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u5878 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u5877_ann {
  position:absolute;
  left:1143px;
  top:156px;
  width:1px;
  height:1px;
}
#u5879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:31px;
}
#u5879 {
  position:absolute;
  left:802px;
  top:225px;
  width:350px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5880 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u5881 {
  position:absolute;
  left:800px;
  top:292px;
  width:300px;
  height:43px;
}
#u5881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5881_input {
  color:#666666;
}
#u5881_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:49px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5882 {
  position:absolute;
  left:800px;
  top:345px;
  width:450px;
  height:44px;
}
#u5882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5882_input {
  color:#666666;
}
#u5882_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:456px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5883 {
  position:absolute;
  left:1110px;
  top:294px;
  width:140px;
  height:40px;
}
#u5884 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5885 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  overflow:hidden;
}
#u5885_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5885_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:1004px;
}
#u5886 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
}
#u5887 {
  position:absolute;
  left:2px;
  top:492px;
  width:498px;
  word-wrap:break-word;
}
#u5885_ann {
  position:absolute;
  left:495px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:74px;
}
#u5888 {
  position:absolute;
  left:800px;
  top:411px;
  width:450px;
  height:74px;
  font-size:20px;
}
#u5889 {
  position:absolute;
  left:2px;
  top:24px;
  width:446px;
  word-wrap:break-word;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
}
#u5890 {
  position:absolute;
  left:823px;
  top:520px;
  width:277px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:48px;
}
#u5891 {
  position:absolute;
  left:0px;
  top:-1px;
  width:277px;
  word-wrap:break-word;
}
#u5892 {
  position:absolute;
  left:800px;
  top:535px;
  width:23px;
  height:16px;
}
#u5893 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5892_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:61px;
}
#u5894 {
  position:absolute;
  left:800px;
  top:842px;
  width:450px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u5895 {
  position:absolute;
  left:0px;
  top:18px;
  width:448px;
  word-wrap:break-word;
}
#u5896 {
  position:fixed;
  left:28px;
  top:29px;
}
#u5896_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5896_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u5897 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:64px;
}
#u5898 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u5899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5899 {
  position:absolute;
  left:1085px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5900 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5899_ann {
  position:absolute;
  left:1143px;
  top:25px;
  width:1px;
  height:1px;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5901 {
  position:absolute;
  left:1185px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5902 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:50px;
}
#u5903 {
  position:absolute;
  left:48px;
  top:271px;
  width:407px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:50px;
}
#u5904 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u5905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:72px;
}
#u5905 {
  position:absolute;
  left:108px;
  top:718px;
  width:287px;
  height:72px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  line-height:36px;
}
#u5906 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u5907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u5907 {
  position:absolute;
  left:1183px;
  top:529px;
  width:67px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#00C1DE;
  text-align:right;
  line-height:28px;
}
#u5908 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
