body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u5832 {
  position:absolute;
  left:800px;
  top:160px;
  width:350px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u5833 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u5832_ann {
  position:absolute;
  left:1143px;
  top:156px;
  width:1px;
  height:1px;
}
#u5834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:31px;
}
#u5834 {
  position:absolute;
  left:802px;
  top:225px;
  width:350px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5835 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u5836 {
  position:absolute;
  left:800px;
  top:292px;
  width:300px;
  height:43px;
}
#u5836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5836_input {
  color:#666666;
}
#u5836_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:49px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5837 {
  position:absolute;
  left:800px;
  top:345px;
  width:450px;
  height:44px;
}
#u5837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5837_input {
  color:#666666;
}
#u5837_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:456px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5838 {
  position:absolute;
  left:1110px;
  top:294px;
  width:140px;
  height:40px;
}
#u5839 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5840 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  overflow:hidden;
}
#u5840_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5840_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:1004px;
}
#u5841 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:1003px;
}
#u5842 {
  position:absolute;
  left:2px;
  top:492px;
  width:498px;
  word-wrap:break-word;
}
#u5840_ann {
  position:absolute;
  left:495px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:74px;
}
#u5843 {
  position:absolute;
  left:800px;
  top:411px;
  width:450px;
  height:74px;
  font-size:20px;
}
#u5844 {
  position:absolute;
  left:2px;
  top:24px;
  width:446px;
  word-wrap:break-word;
}
#u5845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
}
#u5845 {
  position:absolute;
  left:823px;
  top:520px;
  width:277px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:48px;
}
#u5846 {
  position:absolute;
  left:0px;
  top:-1px;
  width:277px;
  word-wrap:break-word;
}
#u5847 {
  position:absolute;
  left:800px;
  top:535px;
  width:23px;
  height:16px;
}
#u5848 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5847_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:61px;
}
#u5849 {
  position:absolute;
  left:800px;
  top:842px;
  width:450px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u5850 {
  position:absolute;
  left:0px;
  top:18px;
  width:448px;
  word-wrap:break-word;
}
#u5851 {
  position:fixed;
  left:28px;
  top:29px;
}
#u5851_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5851_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u5852 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:64px;
}
#u5853 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u5854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5854 {
  position:absolute;
  left:1085px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5855 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5854_ann {
  position:absolute;
  left:1143px;
  top:25px;
  width:1px;
  height:1px;
}
#u5856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5856 {
  position:absolute;
  left:1185px;
  top:29px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5857 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:50px;
}
#u5858 {
  position:absolute;
  left:48px;
  top:271px;
  width:407px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:50px;
}
#u5859 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u5860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:72px;
}
#u5860 {
  position:absolute;
  left:108px;
  top:718px;
  width:287px;
  height:72px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  line-height:36px;
}
#u5861 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u5862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
}
#u5862 {
  position:absolute;
  left:1183px;
  top:529px;
  width:67px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#00C1DE;
  text-align:right;
  line-height:28px;
}
#u5863 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
