body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1294px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5147 {
  position:absolute;
  left:-6px;
  top:650px;
  width:1306px;
  height:493px;
  overflow:hidden;
}
#u5147_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:493px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u5147_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5148 {
  position:absolute;
  left:-6px;
  top:2701px;
  width:1306px;
  height:301px;
  overflow:hidden;
}
#u5148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:301px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u5148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5149 {
  position:absolute;
  left:-6px;
  top:3563px;
  width:1306px;
  height:206px;
  overflow:hidden;
}
#u5149_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(24, 24, 24, 1);
  background-image:none;
}
#u5149_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u5151 {
  position:absolute;
  left:50px;
  top:3655px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u5152 {
  position:absolute;
  left:0px;
  top:6px;
  width:1198px;
  word-wrap:break-word;
}
#u5153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u5153 {
  position:absolute;
  left:50px;
  top:3605px;
  width:1200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u5154 {
  position:absolute;
  left:0px;
  top:8px;
  width:1198px;
  word-wrap:break-word;
}
#u5153_ann {
  position:absolute;
  left:1243px;
  top:3601px;
  width:1px;
  height:1px;
}
#u5155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5155 {
  position:absolute;
  left:51px;
  top:89px;
  width:103px;
  height:48px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u5157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:519px;
}
#u5157 {
  position:absolute;
  left:848px;
  top:89px;
  width:305px;
  height:518px;
}
#u5158 {
  position:absolute;
  left:2px;
  top:250px;
  width:301px;
  word-wrap:break-word;
}
#u5159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u5159 {
  position:absolute;
  left:101px;
  top:367px;
  width:150px;
  height:150px;
}
#u5160 {
  position:absolute;
  left:2px;
  top:66px;
  width:146px;
  word-wrap:break-word;
}
#u5159_ann {
  position:absolute;
  left:244px;
  top:363px;
  width:1px;
  height:1px;
}
#u5161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5161 {
  position:absolute;
  left:311px;
  top:391px;
  width:140px;
  height:40px;
}
#u5162 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5161_ann {
  position:absolute;
  left:444px;
  top:387px;
  width:1px;
  height:1px;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:46px;
}
#u5163 {
  position:absolute;
  left:101px;
  top:202px;
  width:289px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5164 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5163_ann {
  position:absolute;
  left:383px;
  top:198px;
  width:1px;
  height:1px;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:27px;
}
#u5165 {
  position:absolute;
  left:101px;
  top:270px;
  width:661px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5166 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u5165_ann {
  position:absolute;
  left:755px;
  top:266px;
  width:1px;
  height:1px;
}
#u5167 {
  position:fixed;
  right:1px;
  top:50%;
  margin-top:-70px;
  width:133px;
  height:140px;
  overflow:hidden;
}
#u5167_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5167_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:141px;
}
#u5168 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:140px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:60px;
  width:129px;
  word-wrap:break-word;
}
#u5168_ann {
  position:absolute;
  left:126px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:436px;
}
#u5170 {
  position:absolute;
  left:228px;
  top:679px;
  width:256px;
  height:435px;
}
#u5171 {
  position:absolute;
  left:2px;
  top:208px;
  width:252px;
  word-wrap:break-word;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:436px;
}
#u5172 {
  position:absolute;
  left:848px;
  top:1194px;
  width:256px;
  height:435px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:208px;
  width:252px;
  word-wrap:break-word;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:101px;
}
#u5174 {
  position:absolute;
  left:655px;
  top:829px;
  width:442px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:48px;
}
#u5175 {
  position:absolute;
  left:0px;
  top:-94px;
  width:442px;
  word-wrap:break-word;
}
#u5174_ann {
  position:absolute;
  left:1090px;
  top:825px;
  width:1px;
  height:1px;
}
#u5176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:101px;
}
#u5176 {
  position:absolute;
  left:228px;
  top:1353px;
  width:442px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:48px;
}
#u5177 {
  position:absolute;
  left:0px;
  top:-70px;
  width:442px;
  word-wrap:break-word;
}
#u5176_ann {
  position:absolute;
  left:663px;
  top:1349px;
  width:1px;
  height:1px;
}
#u5178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:71px;
}
#u5178 {
  position:absolute;
  left:51px;
  top:3012px;
  width:600px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u5179 {
  position:absolute;
  left:0px;
  top:21px;
  width:600px;
  word-wrap:break-word;
}
#u5178_ann {
  position:absolute;
  left:644px;
  top:3008px;
  width:1px;
  height:1px;
}
#u5180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:71px;
}
#u5180 {
  position:absolute;
  left:661px;
  top:3012px;
  width:589px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u5181 {
  position:absolute;
  left:0px;
  top:21px;
  width:589px;
  word-wrap:break-word;
}
#u5180_ann {
  position:absolute;
  left:1243px;
  top:3008px;
  width:1px;
  height:1px;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:445px;
}
#u5182 {
  position:absolute;
  left:51px;
  top:3092px;
  width:585px;
  height:445px;
  font-size:20px;
  color:#666666;
  text-align:left;
  line-height:36px;
}
#u5183 {
  position:absolute;
  left:2px;
  top:214px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:445px;
}
#u5184 {
  position:absolute;
  left:665px;
  top:3092px;
  width:585px;
  height:445px;
}
#u5185 {
  position:absolute;
  left:2px;
  top:214px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:140px;
}
#u5186 {
  position:absolute;
  left:68px;
  top:3125px;
  width:552px;
  height:140px;
  font-size:14px;
  line-height:28px;
}
#u5187 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  word-wrap:break-word;
}
#u5188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5188 {
  position:absolute;
  left:678px;
  top:3125px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5189 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5190 {
  position:absolute;
  left:678px;
  top:3181px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5191 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u5192 {
  position:absolute;
  left:1138px;
  top:3110px;
  width:99px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u5193 {
  position:absolute;
  left:0px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u5192_ann {
  position:absolute;
  left:1230px;
  top:3106px;
  width:1px;
  height:1px;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u5194 {
  position:absolute;
  left:523px;
  top:3110px;
  width:99px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u5195 {
  position:absolute;
  left:0px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u5194_ann {
  position:absolute;
  left:615px;
  top:3106px;
  width:1px;
  height:1px;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:140px;
}
#u5196 {
  position:absolute;
  left:70px;
  top:3367px;
  width:552px;
  height:140px;
  font-size:14px;
  line-height:28px;
}
#u5197 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  word-wrap:break-word;
}
#u5198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5198 {
  position:absolute;
  left:678px;
  top:3460px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5199 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5200 {
  position:absolute;
  left:678px;
  top:3237px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5201 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5202 {
  position:absolute;
  left:678px;
  top:3293px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5203 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5204 {
  position:absolute;
  left:678px;
  top:3348px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5205 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u5206 {
  position:absolute;
  left:678px;
  top:3404px;
  width:559px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u5207 {
  position:absolute;
  left:15px;
  top:8px;
  width:544px;
  word-wrap:break-word;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:71px;
}
#u5208 {
  position:absolute;
  left:70px;
  top:3275px;
  width:550px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u5209 {
  position:absolute;
  left:0px;
  top:21px;
  width:550px;
  word-wrap:break-word;
}
#u5210 {
  position:absolute;
  left:-6px;
  top:-1px;
  width:1306px;
  height:54px;
  overflow:hidden;
}
#u5210_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(24, 24, 24, 1);
  background-image:none;
}
#u5210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5211 {
  position:absolute;
  left:-6px;
  top:1680px;
  width:1306px;
  height:493px;
  overflow:hidden;
}
#u5211_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:493px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u5211_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:436px;
}
#u5212 {
  position:absolute;
  left:228px;
  top:1709px;
  width:256px;
  height:435px;
}
#u5213 {
  position:absolute;
  left:2px;
  top:208px;
  width:252px;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:101px;
}
#u5214 {
  position:absolute;
  left:655px;
  top:1859px;
  width:442px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:48px;
}
#u5215 {
  position:absolute;
  left:0px;
  top:-94px;
  width:442px;
  word-wrap:break-word;
}
#u5214_ann {
  position:absolute;
  left:1090px;
  top:1855px;
  width:1px;
  height:1px;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:436px;
}
#u5216 {
  position:absolute;
  left:867px;
  top:2223px;
  width:256px;
  height:435px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:208px;
  width:252px;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:101px;
}
#u5218 {
  position:absolute;
  left:247px;
  top:2382px;
  width:442px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:48px;
}
#u5219 {
  position:absolute;
  left:0px;
  top:-70px;
  width:442px;
  word-wrap:break-word;
}
#u5218_ann {
  position:absolute;
  left:682px;
  top:2378px;
  width:1px;
  height:1px;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5220 {
  position:absolute;
  left:930px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5220_img.mouseOver {
}
#u5220.mouseOver {
}
#u5221 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5222 {
  position:absolute;
  left:1010px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5222_img.mouseOver {
}
#u5222.mouseOver {
}
#u5223 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u5222_ann {
  position:absolute;
  left:1083px;
  top:-3px;
  width:1px;
  height:1px;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5224 {
  position:absolute;
  left:1090px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5224_img.mouseOver {
}
#u5224.mouseOver {
}
#u5225 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u5224_ann {
  position:absolute;
  left:1163px;
  top:-3px;
  width:1px;
  height:1px;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5226 {
  position:absolute;
  left:51px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5226_img.mouseOver {
}
#u5226.mouseOver {
}
#u5227 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u5226_ann {
  position:absolute;
  left:124px;
  top:-3px;
  width:1px;
  height:1px;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5228 {
  position:absolute;
  left:141px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5228_img.mouseOver {
}
#u5228.mouseOver {
}
#u5229 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5230 {
  position:absolute;
  left:1170px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5230_img.mouseOver {
}
#u5230.mouseOver {
}
#u5231 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u5230_ann {
  position:absolute;
  left:1243px;
  top:-3px;
  width:1px;
  height:1px;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u5232 {
  position:absolute;
  left:467px;
  top:2751px;
  width:361px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u5232_ann {
  position:absolute;
  left:821px;
  top:2747px;
  width:1px;
  height:1px;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:56px;
}
#u5234 {
  position:absolute;
  left:279px;
  top:2819px;
  width:742px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:28px;
}
#u5235 {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5236 {
  position:absolute;
  left:311px;
  top:453px;
  width:140px;
  height:40px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5236_ann {
  position:absolute;
  left:444px;
  top:449px;
  width:1px;
  height:1px;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5238 {
  position:absolute;
  left:496px;
  top:2910px;
  width:140px;
  height:40px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5238_ann {
  position:absolute;
  left:629px;
  top:2906px;
  width:1px;
  height:1px;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5240 {
  position:absolute;
  left:665px;
  top:2910px;
  width:140px;
  height:40px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5240_ann {
  position:absolute;
  left:798px;
  top:2906px;
  width:1px;
  height:1px;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5242 {
  position:absolute;
  left:1080px;
  top:574px;
  width:17px;
  height:17px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5244 {
  position:absolute;
  left:1107px;
  top:574px;
  width:17px;
  height:17px;
}
#u5245 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5246 {
  position:absolute;
  left:1053px;
  top:574px;
  width:17px;
  height:17px;
}
#u5247 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248 {
  position:fixed;
  right:5px;
  bottom:20px;
  width:55px;
  height:55px;
  overflow:hidden;
}
#u5248_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5248_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u5249 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u5250 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u5251 {
  position:absolute;
  left:441px;
  top:208px;
  width:90px;
  height:40px;
}
#u5252 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u5253 {
  position:absolute;
  left:546px;
  top:208px;
  width:90px;
  height:40px;
}
#u5254 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
