body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1294px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:696px;
}
#u668 {
  position:absolute;
  left:51px;
  top:77px;
  width:1199px;
  height:696px;
}
#u669 {
  position:absolute;
  left:2px;
  top:340px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670 {
  position:absolute;
  left:-6px;
  top:-1px;
  width:1306px;
  height:54px;
  overflow:hidden;
}
#u670_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(24, 24, 24, 1);
  background-image:none;
}
#u670_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u671 {
  position:absolute;
  left:969px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u671_img.mouseOver {
}
#u671.mouseOver {
}
#u672 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u673 {
  position:absolute;
  left:1071px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u673_img.mouseOver {
}
#u673.mouseOver {
}
#u674 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u675 {
  position:absolute;
  left:51px;
  top:1px;
  width:153px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u675_img.mouseOver {
}
#u675.mouseOver {
}
#u676 {
  position:absolute;
  left:0px;
  top:16px;
  width:153px;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
}
#u677 {
  position:absolute;
  left:905px;
  top:-1px;
  width:54px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u677_img.mouseOver {
}
#u677.mouseOver {
}
#u678 {
  position:absolute;
  left:0px;
  top:16px;
  width:54px;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u679 {
  position:absolute;
  left:1170px;
  top:1px;
  width:80px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u679_img.mouseOver {
}
#u679.mouseOver {
}
#u680 {
  position:absolute;
  left:0px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u679_ann {
  position:absolute;
  left:1243px;
  top:-3px;
  width:1px;
  height:1px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
}
#u682 {
  position:absolute;
  left:969px;
  top:53px;
  width:101px;
  height:70px;
}
#u683 {
  position:absolute;
  left:2px;
  top:27px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u684 {
  position:absolute;
  left:980px;
  top:86px;
  width:80px;
  height:1px;
  color:#999999;
}
#u685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u686 {
  position:absolute;
  left:978px;
  top:60px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u688 {
  position:absolute;
  left:978px;
  top:94px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:167px;
}
#u691 {
  position:absolute;
  left:1072px;
  top:53px;
  width:101px;
  height:167px;
}
#u692 {
  position:absolute;
  left:2px;
  top:76px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
}
#u693 {
  position:absolute;
  left:1071px;
  top:53px;
  width:101px;
  height:70px;
}
#u694 {
  position:absolute;
  left:2px;
  top:27px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u695 {
  position:absolute;
  left:1081px;
  top:86px;
  width:80px;
  height:1px;
  color:#999999;
}
#u696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u697 {
  position:absolute;
  left:1081px;
  top:60px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u699 {
  position:absolute;
  left:1081px;
  top:94px;
  width:61px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u701 {
  position:absolute;
  left:1081px;
  top:121px;
  width:80px;
  height:1px;
  color:#999999;
}
#u702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u703 {
  position:absolute;
  left:1081px;
  top:129px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u705 {
  position:absolute;
  left:1081px;
  top:154px;
  width:80px;
  height:1px;
  color:#999999;
}
#u706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u707 {
  position:absolute;
  left:1081px;
  top:163px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:2px;
}
#u709 {
  position:absolute;
  left:1081px;
  top:188px;
  width:80px;
  height:1px;
  color:#999999;
}
#u710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u711 {
  position:absolute;
  left:1081px;
  top:197px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u713 {
  position:absolute;
  left:1040px;
  top:17px;
  width:15px;
  height:15px;
}
#u714 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u715 {
  position:absolute;
  left:1145px;
  top:17px;
  width:15px;
  height:15px;
}
#u716 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:404px;
}
#u717 {
  position:absolute;
  left:810px;
  top:236px;
  width:388px;
  height:404px;
  color:transparent;
}
#u718 {
  position:absolute;
  left:2px;
  top:194px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u719 {
  position:absolute;
  left:859px;
  top:275px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u721 {
  position:absolute;
  left:852px;
  top:497px;
  width:300px;
  height:40px;
}
#u722 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:852px;
  top:379px;
  width:300px;
  height:41px;
}
#u723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u723_input {
  color:#666666;
}
#u723_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u724 {
  position:absolute;
  left:852px;
  top:438px;
  width:171px;
  height:40px;
}
#u724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u724_input {
  color:#666666;
}
#u724_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u725 {
  position:absolute;
  left:859px;
  top:338px;
  width:100px;
  height:19px;
}
#u726 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u725_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u727 {
  position:absolute;
  left:981px;
  top:338px;
  width:100px;
  height:19px;
}
#u728 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u727_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u729 {
  position:absolute;
  left:854px;
  top:565px;
  width:300px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u730 {
  position:absolute;
  left:16px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u729_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
}
#u731 {
  position:absolute;
  left:1023px;
  top:438px;
  width:131px;
  height:40px;
  color:#666666;
}
#u732 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:46px;
}
#u733 {
  position:absolute;
  left:521px;
  top:129px;
  width:253px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u736 {
  position:absolute;
  left:148px;
  top:278px;
  width:90px;
  height:90px;
}
#u737 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u739 {
  position:absolute;
  left:264px;
  top:268px;
  width:200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:36px;
  text-align:left;
  line-height:36px;
}
#u740 {
  position:absolute;
  left:0px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u741 {
  position:absolute;
  left:264px;
  top:328px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:48px;
}
#u742 {
  position:absolute;
  left:0px;
  top:1px;
  width:200px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:61px;
  height:6px;
}
#u743 {
  position:absolute;
  left:264px;
  top:327px;
  width:58px;
  height:3px;
}
#u744 {
  position:absolute;
  left:2px;
  top:-6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u746 {
  position:absolute;
  left:563px;
  top:268px;
  width:200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:36px;
  text-align:left;
  line-height:36px;
}
#u747 {
  position:absolute;
  left:0px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u748 {
  position:absolute;
  left:563px;
  top:328px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:48px;
}
#u749 {
  position:absolute;
  left:0px;
  top:1px;
  width:200px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:65px;
  height:6px;
}
#u750 {
  position:absolute;
  left:563px;
  top:327px;
  width:62px;
  height:3px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u753 {
  position:absolute;
  left:264px;
  top:421px;
  width:200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:36px;
  text-align:left;
  line-height:36px;
}
#u754 {
  position:absolute;
  left:0px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u755 {
  position:absolute;
  left:264px;
  top:481px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:48px;
}
#u756 {
  position:absolute;
  left:0px;
  top:1px;
  width:200px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:65px;
  height:6px;
}
#u757 {
  position:absolute;
  left:264px;
  top:480px;
  width:62px;
  height:3px;
}
#u758 {
  position:absolute;
  left:2px;
  top:-6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u760 {
  position:absolute;
  left:563px;
  top:421px;
  width:200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:36px;
  text-align:left;
  line-height:36px;
}
#u761 {
  position:absolute;
  left:0px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u762 {
  position:absolute;
  left:563px;
  top:481px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:48px;
}
#u763 {
  position:absolute;
  left:0px;
  top:1px;
  width:200px;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:6px;
}
#u764 {
  position:absolute;
  left:563px;
  top:480px;
  width:80px;
  height:3px;
}
#u765 {
  position:absolute;
  left:2px;
  top:-6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u766 {
  position:absolute;
  left:444px;
  top:278px;
  width:90px;
  height:90px;
}
#u767 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u768 {
  position:absolute;
  left:148px;
  top:431px;
  width:90px;
  height:90px;
}
#u769 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u770 {
  position:absolute;
  left:444px;
  top:431px;
  width:90px;
  height:90px;
}
#u771 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u772 {
  position:absolute;
  left:494px;
  top:696px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u774 {
  position:absolute;
  left:624px;
  top:696px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u776 {
  position:absolute;
  left:744px;
  top:696px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u778 {
  position:absolute;
  left:-6px;
  top:799px;
  width:1306px;
  height:206px;
  overflow:hidden;
}
#u778_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(24, 24, 24, 1);
  background-image:none;
}
#u778_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u780 {
  position:absolute;
  left:50px;
  top:891px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u781 {
  position:absolute;
  left:0px;
  top:6px;
  width:1198px;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u782 {
  position:absolute;
  left:50px;
  top:841px;
  width:1200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u783 {
  position:absolute;
  left:0px;
  top:8px;
  width:1198px;
  word-wrap:break-word;
}
#u782_ann {
  position:absolute;
  left:1243px;
  top:837px;
  width:1px;
  height:1px;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
}
#u784 {
  position:absolute;
  left:963px;
  top:120px;
  width:267px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u785 {
  position:absolute;
  left:20px;
  top:6px;
  width:247px;
  word-wrap:break-word;
}
