body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:199px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2469 {
  position:absolute;
  left:0px;
  top:1195px;
  width:1300px;
  height:199px;
}
#u2470 {
  position:absolute;
  left:2px;
  top:92px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:61px;
}
#u2471 {
  position:absolute;
  left:50px;
  top:1290px;
  width:1200px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u2472 {
  position:absolute;
  left:0px;
  top:6px;
  width:1198px;
  word-wrap:break-word;
}
#u2473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u2473 {
  position:absolute;
  left:50px;
  top:1240px;
  width:1200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2474 {
  position:absolute;
  left:0px;
  top:8px;
  width:1198px;
  word-wrap:break-word;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:53px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2475 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:53px;
}
#u2476 {
  position:absolute;
  left:2px;
  top:18px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:874px;
}
#u2477 {
  position:absolute;
  left:51px;
  top:279px;
  width:1199px;
  height:874px;
}
#u2478 {
  position:absolute;
  left:2px;
  top:429px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:148px;
}
#u2479 {
  position:absolute;
  left:0px;
  top:53px;
  width:1300px;
  height:148px;
}
#u2480 {
  position:absolute;
  left:2px;
  top:66px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:86px;
}
#u2481 {
  position:absolute;
  left:51px;
  top:93px;
  width:134px;
  height:85px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:24px;
  width:130px;
  word-wrap:break-word;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2483 {
  position:absolute;
  left:0px;
  top:201px;
  width:1300px;
  height:18px;
}
#u2484 {
  position:absolute;
  left:2px;
  top:1px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:41px;
}
#u2485 {
  position:absolute;
  left:50px;
  top:230px;
  width:1200px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:24px;
}
#u2486 {
  position:absolute;
  left:0px;
  top:8px;
  width:1198px;
  word-wrap:break-word;
}
